{% extends "base.html" %}
{% block title %}
bookworm - log in
{% endblock %}
{% block main %}
  <div class="jumbotron">
    <div class="container">
      <center>
      <h1 class="display-3">bookworm - log in</h1> 
      <h1> the book review site</h1>
      <p>Find all book reviews for a wide range of books.</p>
    </div></center>
  </div>
  <div class="container">
      <form action="{{ url_for('login') }}" method="POST">
        <div class="form-group">
          <input class="form-control" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="username">
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Log in</button>
        </div>
        
      </form>
    </div>
{% endblock %}